alabaster==0.7.12
Sphinx==5.2.3
myst-parser==0.18.1
sphinx-copybutton==0.5.0
sphinx-data-viewer==0.1.2
sphinx-needs==1.0.2
sphinx-tabs==3.4.1
sphinxcontrib-mermaid==0.7.1
poetry==1.0.10
sphinx-needs==1.0.2
sphinxcontrib-plantuml==0.24
graphviz==0.20.1
linkify-it-py==2.0.0
breath==4.34.0
